* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  width: 40%;
  height: auto;
  padding: 0.5rem 0;
  display: block;
  margin: 0 auto;
}
.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #1d1521;
  font-family: "Inter", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 16.25rem;
  background: #372b40;
  padding: 1.875rem 1.25rem;
  display: flex;
  flex-direction: column;
  border-right: 0.0625rem solid #0d0d0d;
  position: sticky;
  top: 0;
  height: 100vh;
}

.nav-btn {
  background: none;
  border: none;
  padding: 0.875rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  color: #f0f0f0;
  font-weight: 600;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #17141b;
}

.nav-btn.active {
  background: #f2daac;
  color: rgb(24, 24, 24);
}

.sidebar-footer {
  margin-top: auto;
  border-top: 0.0625rem solid #17141b;
  padding-top: 1.25rem;
}

/* Main */
.main-content {
  flex: 1;
  padding: 2.5rem;
}
.saudacao-header {
  color: #f2ca99;
}

.header-top {
  color: #d5dff2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}

/* Clima Personalizado*/
.weather-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  margin-top: 0.75rem;
}
.weather-info p {
  color: #f2ca99;
}
.weather-icon {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.weather-info p:first-child {
  font-weight: 600;
  color: #1a1d1f;
}

.weather-info p:last-child {
  font-size: 0.875rem;
  color: #6f767e;
}
.extrato {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 12px;
}

.extrato h2 {
  margin-bottom: 10px;
}

.extrato ul {
  list-style: none;
  padding: 0;
}

.extrato-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #17141b;
}

.extrato-item small {
  display: block;
  color: gray;
  font-size: 12px;
}
/* Cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5625rem;
  margin-bottom: 1.875rem;
}

.summary-card {
  background: white;
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.02);
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}

/* Footer */
.dashboard-footer-grid {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 1.5625rem;
}

.chart-box,
.categories-box {
  background: white;
  padding: 1.5625rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.02);
}

/* Categorias */
.category-item {
  margin-bottom: 1.25rem;
}

.category-info {
  display: flex;
  justify-content: space-between;

  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.progress-bar {
  height: 0.5rem;
  background: #f4f4f4;
  border-radius: 0.625rem;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  transition: width 0.8s ease;
}

/* Calendar */
.react-calendar {
  width: 100%;
  border: none !important;
  background: transparent !important;
  font-family: "Inter", sans-serif;
}

/* Navegação */
.react-calendar__navigation {
  display: flex;
  height: 3.125rem;
  margin-bottom: 1.25rem;
}

.react-calendar__navigation button {
  min-width: 2.75rem;
  background: none;
  font-size: 1.25rem;
  font-weight: 800;
  color: #1a1d1f;
  border: none;
  cursor: pointer;
}

/* Dias da semana */
.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
  color: #6f767e;
  font-size: 1rem;
  padding-bottom: 0.9375rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

/* Dias */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3125rem;
}

.react-calendar__tile {
  background: white !important;
  border: 0.0625rem solid #17141b !important;
  border-radius: 0.5rem !important;

  aspect-ratio: 1 / 1;
  padding: 0.875rem !important;

  font-weight: 600;
  color: #1a1d1f;

  transition: all 0.2s ease;
}

.react-calendar__tile:enabled:hover {
  background: #f6e4b7 !important;
  border-color: #372b40 !important;
}

.react-calendar__tile--active {
  border: 0.125rem solid #372b40 !important;
  color: #372B409 !important;
}

.react-calendar__tile--now {
  background: #f6e4b7 !important;
  color: #372b40 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.3;
}

/* Eventos */
.event {
  width: 100%;
  font-size: 0.65rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  margin-top: auto;
  font-weight: 700;
}

.event.pink {
  background: #ffe5f0;
  color: #d81b60;
}

.event.yellow {
  background: #fff9e5;
  color: #f57f17;
}
/*transacao*/

.transaction-form {
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.75rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  width: 100%; /* ❗ remove width fixa */
  max-width: 100%;
  margin-top: 1.5rem;

  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.transaction-form input,
.transaction-form select {
  padding: 10px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}
.transaction-form input:focus,
.transaction-form select:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}
.transaction-form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.transaction-form button:hover {
  background: #4f46e5;
}

.extrato-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75rem 0;
  border-bottom: 1px solid #eee;
}

.extrato-item:hover {
  background: #f9fafb;
}

.extrato-item button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Menu Mobile */
.menu-mobile-toggle {
  display: none;

  position: fixed;
  top: 1.25rem;
  left: 1.25rem;

  z-index: 1000;

  background: #d7c437;
  color: white;

  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;

  cursor: pointer;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}
.calendar-main-grid {
  display: grid;
  grid-template-columns: minmax(0, 2fr) 20rem;
  gap: 1rem;
  align-items: start;

  max-width: 75rem;
}

/* Card do calendário - Minha Agenda*/
.calendar-card {
  background: white;
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, 0.02);

  width: 100%;
  max-width: 30rem;
  min-width: 0;
}

/* Sidebar direita */
.calendar-sidebar-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-left: 0;
}

/* Topo do calendário */
.calendar-header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

/* Responsividade */
@media (max-width: 48rem) {
  html {
    font-size: 87.5%;
  }

  .app-container {
    flex-direction: column;
  }

  .dashboard-footer-grid,
  .cards-grid {
    grid-template-columns: 1fr;
  }

  .menu-mobile-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    z-index: 999;

    width: 16.25rem;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    padding-top: 5rem;
    padding-inline: 1rem;
  }
  .calendar-main-grid {
    grid-template-columns: 1fr;
  }
  .react-calendar {
    width: 100% !important;
  }

  .react-calendar__tile {
    min-width: 0 !important;
    padding: 0.4rem !important;
    font-size: 0.75rem;
  }
}
